:root{
    --primary-color: #0a0304;
    --secondary-color: #1b20ce;
}

body {
    background: white; 
    font-family: "Nunito", sans-serif;
}


.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: rgb(14, 13, 13);
    /* border: 2px solid black; */
}

#mainNavbar .nav-link:hover {
    /* color: #EA1C2C; */
    color: rgb(245, 240, 240);
    /* border-bottom: 2px solid black; doesn't work as expected */
}

#mainNavbar .navbar-brand {
    /* color: #EA1C2C; */
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

#mainNavbar .navbar-brand:hover {
    /* color: #EA1C2C; */
    color: white;
    font-size: 1.5rem;
}

#headingGroup span {
    /* color: #EA1C2C; */
    color: black;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

/* .navbar.scrolled {
    background: rgb(63, 62, 63);
    transition: background 500ms;
} */
.navbar {
    background: rgb(92, 91, 92);
    transition: background 500ms;
}

.navbar-nav li a{
    color: black;
    font-weight: 500;
}

/* HOMEPAGE */
section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
}

section#home {
    flex-direction: row;
    margin-top: 0;
}

.home-content{
    position: relative;
    z-index: 10;
    max-width: 600px;
}

.home-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}





/* BUTTON */
.btn{
    cursor: pointer;
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 30px 0;
    border: 0;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(0.95);
}
/* GALLERY PAGE */

/* #gallery .title{
    margin-top: 80px;

} */

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.portfolio .item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.portfolio .item img {
    width: 100%;
    height: 100%;
}

.portfolio .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.portfolio .item:hover .action{
    opacity: 0.9;
}

.portfolio .item .action a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 15px;
}

/* CONTACT PAGE */

/* #contact .title{
    margin-top: 80px;
} */

.contact {
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form {
    position: relative;
    background: #f9f9f9;
    width: calc(100% - 500px); /*has to have space between 100% and - sign*/
    padding: 60px 40px 20px;
}

.contact-form form {
    width: 100%;
}

.contact-form .row {
    width: 100%;
    display: flex;
}

.contact-form .input50 {
    width: 50%;
    margin: 0 10px;
}
.contact-form .input100 {
    width: 100%;
    margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea {
    height: 150px;
}

.contact-form .row input[type='submit']{
    background-color: var(--secondary-color);
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    border: 0;
    cursor: pointer;
}

.contact-info {
    width: 450px;
    background-color: #f9f9f9;
    padding: 60px 40px 20px;
}

.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;
}

.contact-info .info-box .details h4 {
    color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
    color: #111;
}

/* ABOUT */
/* #services .title{
    margin-top: 80px;
} */
.services{
    margin-top:40px;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    gap:40px;
    text-align: center;
    justify-content: center;
}

.services .service .icon img {
    max-width: 250px;
}

.services .service h2{
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--secondary-color);
}

.services .service {
    padding: 30px;
}

.services .service:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}

@media (max-width: 1068px){
    
    .contact {
        flex-direction: column;
    }
    .contact .contact-form, 
    .contact .contact-info {
        width: 100%;
        margin-top: 30px;
        padding: 30px 30px 20px;
    }
    .services{
        
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .home-img {
        display: none;
    }

    .logo{
        top: 10px;
        left: 40px;
        font-size: 1.5rem;
    }

    section{
        padding: 100px 40px;
    }

    .navigation ul li a {
        font-size: 2.0rem;
    }    

    .contact-form .row {
        
        /* display: flex; */
        flex-direction: column;
    }

    .contact-form .input50 {
        width: 100%;
        margin: 0 10px;
    }
    .contact-form .input100 {
        width: 100%;
        margin: 0 10px;

    }
    .services{
            
        grid-template-columns: 1fr;
    }
    .services .service{
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }

}